.body {
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #997a00;
    border-bottom: 1px solid #997a00;
    background-color: #07006d27;
}

.childbody {
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body ul, .body li {
    list-style: none;
}

.reviewer {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.content {
    font-style: italic;
}

.title {
    font-weight: bolder;
}

.wrapper {
    padding: 0 1rem;
    display: flex;
    border: 1px solid #997a00;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* gap: 1rem; */
    width: 100%;
    background-color: #ffffff04;
    text-align: center;
}

.body ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
}

.user {
    /* width: 50%; */
    text-align: center;
}

.usercontent {
    display: flex;
    text-align: center;
    align-items: center;
    gap: .5rem;
}


.usercontent p::first-letter {
    text-transform: capitalize;
}

.reviewbody {
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
}

.footer {
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}

.footer button {
    padding: 1rem 3.5rem;
    font-size: 18px;
    background-color: rgb(255, 230, 86);
    cursor: pointer;
    border: none;
}

.footer button:hover {
    background-color: rgb(255, 217, 0);
}

.addreviewbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notyou {
    color: cyan;
}

.notyou:hover {
    text-decoration: underline;
}

.mainreview {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.texts {
    text-align: center;
}

.addreview {
    cursor: pointer;
    color: cyan;
}

.pencil {
    width: 25px;
    height: 25px;
}