.banner {
    position: relative;
    display: flex;
    grid-template-rows: auto auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannercontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannercontent h1 {
    padding: 2rem;
    margin-top: -20px;
    font-size: 100px;
    font-family: var(--titlefont);
}

.bannerimgdiv {
    position: relative;
}

.bannerimgdiv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
}

.bannerimg {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);
}

.bannercontentimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regiondesc {
    padding: 2rem;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.regiondesccontent {
    width: 50%;
    font-size: 24px;
}

.recommendations {
    display: flex;
    justify-content: center;
}

.recommendations ul {
    list-style: none;
}

.championsregion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.championlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.championsregion h1 {
    font-size: 50px;
}

.championlist h2 {
    margin: 0;
}