.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #07006d27;
    border-bottom: 1px solid #997a00;
}

.nav a {
    padding: 0 1.5rem;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav p { 
    padding: 0 1.5rem;
}

.userlogged {
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
    margin-right: 10px;
}

.logout:hover {
    cursor: pointer;
    color: red;
}

.nav a:hover {
    color: yellow;
}

.nav ul {
    list-style: none;
}

.navlinks {
    gap: 2rem;
    display: flex;
}

.users {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 1rem
}

.login:hover {
    color: cyan;
}

.signup:hover {
    color: orange;
}