.addreviewbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cyan {
    color: cyan;
}

.body {
    padding: 3.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #997a00;
    border-bottom: 1px solid #997a00;
    width: 100%;
    background-color: #07006d27;
}

.body input {
    width: 100%;
    font-size: 24px;
    height: 50px;
}

.body textarea {
    width: 100%;
}

.body input[type='submit'] {
    padding: 1rem 3.5rem;
    font-size: 18px;
    background-color: rgb(255, 230, 86);
    cursor: pointer;
    border: none;
}

.body input[type='submit']:hover {
    background-color: rgb(255, 217, 0);
}

.fields1 {
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.fieldreview {
    width: 80%;
    height: 100px;
}

.fields input[type='radio'] {
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
}

.fields label {
    color: white;
    font-size: 72px;
}

/* general sibling combinator (~) combined with flex row reverse to achieve what we wanted */
.fields label:hover,
.fields label:hover ~ label {
    cursor: pointer;
    color: red;
}

.clicked {
    color: red;
}

.rwsg {
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}