@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
    --textfont: 'Mulish', sans-serif;
    --titlefont: 'Merriweather', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    color: white;
    font-family: var(--textfont);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

article {
    flex: 1;
}